.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 5000;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
  }
  .content{
    margin-top: 17rem;
    width: 20rem;
    border-radius: 1rem;
    line-height: 3.6rem;
    background: var(--greyLight-1);
    box-shadow: 0 0 6px rgba(76, 106, 150, 0.3);
    padding: 0.5rem 1rem;
    z-index: 1;
  }


}

.show {
  opacity: 1;
  pointer-events: auto;
}

.hide {
  opacity: 0;
  pointer-events: none;
}


.desc {
  text-align: center;
  color: black;
}
