$block-size: 110px;

.tranProp {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.panel {
  width: $block-size;
  height: $block-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}

.panel .front {
  position: absolute;
  z-index: 900;
  transform: rotateX(0deg) rotateY(0deg);
  @extend .tranProp;
}

.panel .back {
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 1000;
  transform: rotateY(-180deg);
  @extend .tranProp;
}

.panel.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}

.frontBox {
  width: $block-size;
  height: $block-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ebf5fc;
  box-shadow: 0 20px 30px rgba(100, 131, 177, 0.2);
  margin-right: 0.5rem;
  border: 1px solid white;
  position: relative;
  z-index: 100;

  .cardPercent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  .nameText {
    font-size: 1.6rem;
    font-weight: 600;
    color: #6b6ee8;
    text-align: center;
  }
  .cardNumber {
    position: absolute;
    color: var(--greyDark);
    font-size: 2rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;

    .GPAText {
      font-size: 1.5rem;
      font-weight: 500;
      color: #6b6ee8;
      margin-bottom: 5px;
    }
    .pointsText {
      font-size: 1.4rem;
      font-weight: 500;
      color: #7f9adf;
    }
  }
}

.backBox {
  background: #ebf5fc;
  box-shadow: 0 20px 30px rgba(100, 131, 177, 0.2);
  width: $block-size;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6b6ee8;
  font-size: 1.6rem;
}

.percentSvg {
  position: relative;
  width: 10rem;
  height: 10rem;
  z-index: 1000;
  transform: rotate(-90deg);
}

.percentSvg .svgCircle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 220; // 2 * PI * radius
  transition: all 1s ease;
  stroke-width: 0.7rem;
}

.circle {
  position: absolute;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: 6px 6px 8px var(--greyLight-2), -6px -6px 8px #fff;
  background: #ebf5fc;
}

.circleMedium {
  width: 8rem;
  height: 8rem;
  box-shadow: inset 8px 8px 10px var(--greyLight-2), inset -4px -4px 8px #fff;
}

.circleSmall {
  width: 6rem;
  height: 6rem;
  box-shadow: 6px 6px 8px var(--greyLight-2), -2px -2px 8px #fff;
}

.slideUp {
  animation: slideUp 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes slideUp {
  from {
    transform: translate3d(0, 120px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
