.am-card {
  border-radius: 11px !important;
  overflow: hidden !important;
}

.am-card-header {
  padding-top: 10px !important;
}

.am-card-header-content {
  color: #fff !important;
  font-weight: 600;
}

.am-card-header-extra {
  color: rgb(240, 240, 240) !important;
}

.am-card-body {
  line-height: 20px;
  margin-bottom: 10px;
}

.am-card-footer {
  padding-bottom: 8px !important;
}

.am-radio-inner:after {
  border-color: #1874ff !important;
}
