.rootCon{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #D5E0F3;//#D5E0F3
  padding: 15px 15px;
  transition: opacity 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000);

  .header{
    height: 11rem;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .body{
    display: block;
    flex: 1;
    width: 100%;
    overflow-y: auto;
    margin: 2rem 1.5rem 1rem;
    border-radius: 2rem;
    background: var(--greyLight-1);
    box-shadow: 0 20px 30px rgba(100, 131, 177, 0.2);
    padding: 1rem;
    transition: opacity cubic-bezier(0.390, 0.575, 0.565, 1.000);
    //animation: slideUp 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000);
  }

  .footer{
    height: 120px;
    width: 100%;
  }
}

.fade {
  animation: fade 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.background{
  position:absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transform:translate3d(100px,300px,0)
}

@keyframes fade {
  to {
    opacity: 1;
  }
}


.slideUp{
  animation: slideUp 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@keyframes slideUp {
  from{
    transform: translate3d(0,120px,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}


