
.selection{
  flex: 1;
  position: relative;
  margin-left: 1rem;
  height: 13rem;
  background: var(--greyLight-1);
  box-shadow: 0 20px 30px rgba(100, 131, 177, 0.2);
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;

  .tabWrapper{
    display: flex;
    height: 12rem;
    flex-direction: column;

    .gradeSel{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-shadow: inset 8px 8px 10px var(--greyLight-2),
      inset -4px -4px 8px #FFFFFF;
      height: 4rem;
      margin-bottom: 1rem;
      border-radius: 2rem;
    }

    .semesterSel{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-shadow: inset 8px 8px 10px var(--greyLight-2),
      inset -4px -4px 8px var(--white);
      height: 4rem;
      border-radius: 2rem;
    }
  }
}

.tabWrapper,.messageText,.emo{
  transition: all 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.infoGroup{
  position: absolute;
  left: 0;
  right: 0;
}

.messageText{
  @extend .infoGroup;
  top: -6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 100;
  color: #567AD5;
}

.emo{
  @extend .infoGroup;
  top: -12rem;
  z-index: 100;
  width: 50px;
  margin: auto;
}

.bg{
  @extend .infoGroup;
  display: block;
  top: -8.5rem;
  z-index: 99;
}

.slideDown{
  transform: translate3d(0,14rem,0);//优化
}

.slideUp{
  animation: slideUp 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@keyframes slideUp {
  from{
    transform: translate3d(0,120px,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}
