
.selTab{
  color: #567AD5;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}

.selTabActive{
  font-size: 1.4rem;
  padding: 0.6rem 1rem;
  border-radius: 9px;
  box-shadow: 3px 3px 8px #C9D6ED;
  background: #2FCBF3;
  color: black;
  font-weight: 400;
}
