html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px    100% = 16px
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
  line-height: 1.4;
}

div {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

:root {
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-light: #1361f1;
  --primary-dark: #2213f1;
  --primary: #00abdf;
  --black: #292929;

  --white: #ffffff;
  --greyLight-2: #d6dfee;

  --background: rgba(255, 255, 255, .65);
  --tab-shadow: #c9d6ed;
  --tab-text-active: rgb(14, 14, 14);
  --tab-text-normal: rgb(78, 78, 78);
}

:root [data-theme='dark'] {
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-light: #757efc;
  --primary: #00abdf;
  --primary-dark: #005eda;

  --greyLight-2: #d6dfee;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

.text {
  color: var(--title-color);
  text-align: center;
  opacity: 0.4;
  font-size: 13px;
  margin: 14px auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
