html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px    100% = 16px
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .5px;
  line-height: 1.4;
}

div {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

:root {
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-light: #757efc;
  --primary: #00abdf;
  --primary-dark: #005eda;

  --white: #FFFFFF;
  --greyLight-1: #ebf5fc;
  --greyLight-2: #d6dfee;
  --greyLight-3: #c1d9f0;
  --greyDark: #8f94af;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  overflow: hidden;
}

.text {
  color: var(--title-color);
  text-align: center;
  opacity: 0.4;
  font-size: 13px;
  margin: 14px auto;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
